.html{
    color: #E44D26;
}

.css {
    color: #264DE4;
}

.js {
    color: #F0DB4F;
}

li {
    font-weight: 800;
}

#html {
    font-size: 32px;
}
#css {
    font-size: 32px;
}

#js {
    font-size: 32px;
}

[class] {
    background-color: green;
}

h2:hover {
    color: blue;
}