body {
  margin: 0;
}

section {
  background-color: blueviolet;
  width: 50vw;
  height: 200px;
  
}
.box {
  background-color: chartreuse;
  width: 50%;
  margin: 40px;
  padding: 10%;
  font-size: 100%;
}