/*body {
  color:sandybrown;
}

ul {
  font-size: 22px;
  font-weight: 500;
  font-family: cursive;
  font-style: italic;
}

button {
  color: calc();
  font-family: cursive;
  font-style: italic;
  font-size: 22px;
  font-weight: 500;
}
*/