

/* The Linear-gradient() css function an image cinsisting
of a progressive transition between two.or.more.colors along a straight line*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

section {
    width: 100%;
    height: 100vh;
    /*background-image: linear-gradient(red,yellow);*/
    /* for left to right*/
    background-image: linear-gradient(to right, red,yellow);
}



/*INTERVIEWS QUESTIONS*/
/*
  1. What are CSS gradients, and wh are the useful in web design?
  >>>CSS gradients are a way to create smooth transitions between 
  two or more specified colors. They are useful in web design because
  they allow for the creation of visually appealing backgrounds, buttons,
   and text effects, enhancing the overall design and user experience.

   2. Explain the difference between linear gradient and radial gradient
   in CSS? When would you use one over the other.
   >>> Linear Gradient:

Colors blend along a straight line (horizontal, vertical, diagonal).

Example: linear-gradient(to right, red, blue);

Use for backgrounds or buttons with directional shading.

Radial Gradient:

Colors spread outward from a center point (circle or ellipse).

Example: radial-gradient(circle, red, blue);

Use for spotlight or glow effects.


3. *** How can you create a diagonal linear gradient in CSS?
>>> background-image: linear-gradient(to bottom right,#004d7a,#a8eb12);


4. *** How can you create a transparent gradient in CSS?
>>>  background-image: linear-gradient(to right,rgpa(255, 0, 0, 0),rgpa(255, 0, 0, 0));


5.*** Can you create a gradient that transitions from multiple colors rather than just two?
>>> background-image: linear-gradient(
  to right top,
  #051937,
  #004d7a,
  #008793
  );
  
  6. Create a repeating linear gradient?
  >> background-image: repeating-linear-gradient(45deg,#d2e0fb,#79ac78,45px);

  7. Add colors overlay display?